@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

// Inicio de variables

// color letras barra de navegacion
$logo-a-color: rgb(255 193 7);

// Fuente del nav y footer
$vollkorn: 'Vollkorn', serif;

// fuente textos
$Titan-one: 'Titan One', cursive;

$sombra-nav: 8px 2px 10px black;

// fin variables

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{ 
  background-image: url(../img/fondo-nav-footer.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-image 0.5s;

  a{
    text-decoration: none;
    span{
      font-size: 25px;
      padding-left: 10px;
      color: $logo-a-color;
      font-family: $vollkorn;
    }
  }
  #navbarNav{
    justify-content: flex-end;

    ul{
      font-size:25px;

      li{
        padding-left: 20px;
        a{
          text-shadow: $sombra-nav;
          font-family: $vollkorn;
          color: $logo-a-color;
          position: relative;
          padding: 0;
          transition: transform 0.5s;

          &.active{
            color: white;
            transform: scale(1.08);
            transition: transform 0.5s;
          }
          
          &::after{
            content: '';
            border-bottom: 3px solid black;
            bottom: 0px;
            left: 0px;
            position: absolute;
            width: 10%;
            opacity: 0;
            transition: 0.5s;
          }
  
          &:hover::after, &.active::after{
            opacity: 1;
            width: 100%;
          }
  
          &:hover{
            @extend .active;

          }
        }
      }

      
    }
  }

  @media screen and (min-width: 1024px) {
    
    &:hover{
      background-image: url(../img/fondo-nav-hover.svg);
      background-size: cover;
      transition: background-image 0.5s;
    }
  }
}

h1{
  font-size: 3vw !important;
  text-align: center;
  padding: 20px 0px;
  background-image: url(../img/fondo-h1.jpeg);
  margin: 10px 0 10px 0 !important;
  border: 3px dotted black;
  font-family: 'Chango', cursive;
}

.carousel-index{
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: rgb(92 57 10 / 82%);
}

%titulos{
  text-shadow: 0px 0px 4px rgb(77 38 6);
  font-size: 2.5vw;
  font-family: 'Permanent Marker', cursive;
  color: black;
}

%parrafos{
  font-family: $Titan-one;
  font-size: 1.2vw;
  color: rgb(77, 38, 6);
}

.main-index{
  .secc-nosotros{
    margin-top: 20px;
    .t-index{
      @extend %titulos;
      i{
        font-size: 2vw;
      }
    }
    .p-index{
      @extend %parrafos;
    }
  }
}

.main-servicios{
  .t-serv{
    @extend %titulos;
  }

  .p-serv{
    @extend %parrafos;

    span{
      text-decoration: underline;
    }
  }

  .sec-cards{
    justify-content: space-around;
    color: white;

    .card{
      width: 400px;
      margin-top: 15px;
      background-color: rgb(101 59 2 / 84%);
      transition: transform 0.5s;

      &:hover{
        box-shadow: 0px 4px 9px 5px #60686f;
        transform: translatey(-10px);
        transition: transform 0.7s;
      }

      img{
        padding-top: 5px;
        border-radius: 10px;
      }
    }
  }
}

.main-ubicacion{

  .t-ubi{
    @extend %titulos;
    text-align: center;
  }

  .horario-direccion{

    section{
      margin-top: 20px;
      article{
        display: flex;
        border-bottom: 1px solid #000;
        padding-top: 10px;

        .icono{
          width: 50px;
          height: auto;
          text-align: center;
    
          i{
            font-size: 30px;
          }
        }

        h3{
          display: flex;
          align-items: center;
          padding-left: 5px;
          font-family: $Titan-one;
          font-size: 1.7vw;
        }
      }
    }
  }

  .img-taller{
    flex-wrap: nowrap;
    margin-bottom: 10px;

    img{
      width: 50%;
      border: 2px solid black;

      @media screen and (min-width: 1024px) {
        &{
          filter: grayscale(100%);
          transition: filter 0.5s;
  
          &:hover{
            filter: grayscale(0%);
            transition: filter 0.5s;
          }
        }
      }
    }

  }
}

footer{
  background-image: url(../img/fondo-nav-footer.svg);
  border-top: 2px solid #262425;

  .p-footer{
    color: $logo-a-color;
    font-size: 25px;
    margin: 0;
    padding-left: 5px;
    font-family: $vollkorn;

  }

  .redes{
    width: 50vw;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-content: center;
    div{
      a{
        color: black;
        font-weight: bold;
        text-decoration: none;
        transition: 0.5s;
  
        // hover de los iconos
  
        &.wpp:hover{
          color: rgb(14, 193, 67);
        }      
        
        &.ig:hover{
          color: rgb(218, 5, 94);
        }
  
        &.fc:hover{
          color: rgb(16, 150, 244);
        }
  
  //   afters y hovers para los textos al lado de cada icono
  
        &.wpp::after, &.ig::after, &.fc::after{
          font-family: $vollkorn;
          font-size: 20px;
          opacity: 0;
          transition: 0.5s;
        }
  
        // whatsapp
        &.wpp::after{
          content: 'Nuestro Whatsapp';
          color: rgb(14, 193, 67);
        }
  
        // instagram
        &.ig::after{
          content: 'Nuestro Instagram';
          color: rgb(235, 1, 98);
        }
  
        // facebook
        &.fc::after{
          content: 'Nuestro Facebook';
          color: rgb(16, 150, 244);
        }
  
        // hover after de las 3 redes
        &.wpp:hover::after, &.ig:hover::after, &.fc:hover::after{
          opacity: 1;
          padding-left: 10px;
          transition: 0.5s;
        }
      }
    }
  }
}