@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.main-contacto .t-cont, .main-ubicacion .t-ubi, .main-servicios .t-serv, .main-index .secc-nosotros .t-index {
  text-shadow: 0px 0px 4px rgb(77, 38, 6);
  font-size: 2.5vw;
  font-family: "Permanent Marker", cursive;
  color: black;
}

.main-contacto .p-cont, .main-servicios .p-serv, .main-index .secc-nosotros .p-index {
  font-family: "Titan One", cursive;
  font-size: 1.2vw;
  color: rgb(77, 38, 6);
}

.main-contacto .sec-formulario .formulario .boton button:hover, .main-contacto .sec-formulario .formulario .borde:focus, .main-contacto .sec-formulario .formulario textarea:focus, .main-contacto .sec-formulario .formulario .metodo-cont:focus, .main-contacto .sec-formulario .formulario .borde:hover, .main-contacto .sec-formulario .formulario textarea:hover, .main-contacto .sec-formulario .formulario .metodo-cont:hover, .main-contacto .sec-formulario .formulario textarea:hover {
  border: 2px solid;
  border-image: linear-gradient(43deg, #cfa20e 13%, #000000 94%);
  border-image-slice: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-image: url(../img/fondo-nav-footer.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-image 0.5s;
}
nav a {
  text-decoration: none;
}
nav a span {
  font-size: 2.5vw;
  padding-left: 10px;
  color: rgb(255, 193, 7);
  font-family: "Vollkorn", serif;
}
nav #navbarNav {
  justify-content: flex-end;
}
nav #navbarNav ul {
  font-size: 25px;
}
nav #navbarNav ul li {
  padding-left: 20px;
}
nav #navbarNav ul li a {
  text-shadow: 8px 2px 10px black;
  font-family: "Vollkorn", serif;
  color: rgb(255, 193, 7);
  position: relative;
  padding: 0;
  transition: transform 0.5s;
}
nav #navbarNav ul li a.active, nav #navbarNav ul li a:hover {
  color: white;
  transform: scale(1.08);
  transition: transform 0.5s;
}
nav #navbarNav ul li a::after {
  content: "";
  border-bottom: 3px solid black;
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.5s;
}
nav #navbarNav ul li a:hover::after, nav #navbarNav ul li a.active::after {
  opacity: 1;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  nav:hover {
    background-image: url(../img/fondo-nav-hover.svg);
    background-size: cover;
    transition: background-image 0.5s;
  }
}

h1 {
  font-size: 3vw !important;
  text-align: center;
  padding: 20px 0px;
  background-image: url(../img/fondo-h1.jpeg);
  margin: 10px 0 10px 0 !important;
  border: 3px dotted black;
  font-family: "Chango", cursive;
}

.carousel-index {
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: rgba(92, 57, 10, 0.82);
}

.main-index .secc-nosotros {
  margin-top: 20px;
}
.main-index .secc-nosotros .t-index i {
  font-size: 2vw;
}
.main-servicios .p-serv span {
  text-decoration: underline;
}
.main-servicios .sec-cards {
  justify-content: space-around;
  color: white;
}
.main-servicios .sec-cards .card {
  width: 400px;
  margin-top: 15px;
  background-color: rgba(101, 59, 2, 0.84);
  transition: transform 0.5s;
}
@media screen and (min-width: 1400px) {
  .main-servicios .sec-cards .card:hover {
    box-shadow: 0px 4px 9px 5px #60686f;
    transform: translatey(-10px);
    transition: transform 0.7s;
  }
}
.main-servicios .sec-cards .card img {
  padding-top: 5px;
  border-radius: 10px;
}

.main-ubicacion .t-ubi {
  text-align: center;
}
.main-ubicacion .horario-direccion section {
  margin-top: 20px;
}
.main-ubicacion .horario-direccion section article {
  display: flex;
  border-bottom: 1px solid #000;
  padding-top: 10px;
}
.main-ubicacion .horario-direccion section article .icono {
  width: 50px;
  height: auto;
  text-align: center;
}
.main-ubicacion .horario-direccion section article .icono i {
  font-size: 30px;
}
.main-ubicacion .horario-direccion section article h3 {
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-family: "Titan One", cursive;
  font-size: 1.7vw;
}
.main-ubicacion .img-taller {
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.main-ubicacion .img-taller img {
  width: 50%;
  border: 2px solid black;
}
@media screen and (min-width: 1400px) {
  .main-ubicacion .img-taller img {
    filter: grayscale(100%);
    transition: filter 0.5s;
  }
  .main-ubicacion .img-taller img:hover {
    filter: grayscale(0%);
    transition: filter 0.5s;
  }
}

.main-contacto .sec-formulario {
  width: 70%;
  border: 5px solid gray;
  border-image: linear-gradient(43deg, #000000 25%, #cfa20e 81%);
  border-image-slice: 1;
  transition: border-image 0.5s;
}
@media screen and (min-width: 1400px) {
  .main-contacto .sec-formulario:hover {
    border-image: linear-gradient(43deg, #cfa20e 13%, #000000 94%);
    border-image-slice: 1;
    transition: border-image 0.5s;
  }
}
.main-contacto .sec-formulario .formulario {
  color: brown;
}
.main-contacto .sec-formulario .formulario .t-cont {
  text-align: center;
  text-transform: uppercase;
}
.main-contacto .sec-formulario .formulario .borde, .main-contacto .sec-formulario .formulario textarea, .main-contacto .sec-formulario .formulario .metodo-cont, .main-contacto .sec-formulario .formulario textarea {
  border-color: black;
}
.main-contacto .sec-formulario .formulario .borde:focus, .main-contacto .sec-formulario .formulario textarea:focus, .main-contacto .sec-formulario .formulario .metodo-cont:focus, .main-contacto .sec-formulario .formulario textarea:focus {
  box-shadow: none;
}
.main-contacto .sec-formulario .formulario .metodo-cont, .main-contacto .sec-formulario .formulario textarea {
  border: 1px solid black;
  border-radius: 6px;
  padding-left: 10px;
}
.main-contacto .sec-formulario .formulario textarea {
  width: 100%;
}
.main-contacto .sec-formulario .formulario .boton button {
  border-radius: 7px;
  padding: 5px;
}
footer {
  background-image: url(../img/fondo-nav-footer.svg);
  border-top: 2px solid #262425;
}
footer .p-footer {
  color: rgb(255, 193, 7);
  font-size: 25px;
  margin: 0;
  padding-left: 5px;
  font-family: "Vollkorn", serif;
}
footer .redes {
  width: 50vw;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-content: center;
}
footer .redes div a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}
footer .redes div a.wpp:hover {
  color: rgb(14, 193, 67);
}
footer .redes div a.ig:hover {
  color: rgb(218, 5, 94);
}
footer .redes div a.fc:hover {
  color: rgb(16, 150, 244);
}
footer .redes div a.wpp::after, footer .redes div a.ig::after, footer .redes div a.fc::after {
  font-family: "Vollkorn", serif;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s;
}
footer .redes div a.wpp::after {
  content: "Nuestro Whatsapp";
  color: rgb(14, 193, 67);
}
footer .redes div a.ig::after {
  content: "Nuestro Instagram";
  color: rgb(235, 1, 98);
}
footer .redes div a.fc::after {
  content: "Nuestro Facebook";
  color: rgb(16, 150, 244);
}
footer .redes div a.wpp:hover::after, footer .redes div a.ig:hover::after, footer .redes div a.fc:hover::after {
  opacity: 1;
  padding-left: 10px;
  transition: 0.5s;
}

/*# sourceMappingURL=estilos.css.map */
